# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
.env/

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# HTML output
html/

# IDEs
.vscode/
.idea/

# OS-generated
*.swp

*.csv
*.parquet
*.html
*.txt
*.png
*.zip
*.json
*.whl
*.tar.gz
*.egg
*.egg-info
*.tar
*.tar.bz2
*.tar.xz